/* body { */
/*     height: 100%; */
/*     overflow: hidden; */
/*     font-size: 100%; */
/*     padding-top: 58px */
/* } */

/* div#body { */
/*     width: 100%; */
/*     height: 100%; */
/*     overflow: auto; */
/*     padding:0px 10px 0px 10px; */
/* } */

div#loading, div#navigation, #search-box {
    top: 30px;
}

ul#navigation-action{
    top: 50px;
}

table#navigation-action {
    top:49px;
}