/* style sheet for kagoiri-musume */
/* $Id: kagoiri-musume.css,v 1.57 2006/03/19 14:48:09 shibata Exp $ */

/*
 * Common stuff
 */

body {
    padding: 30px 0 0 0;
    margin: 0pt;
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    /* color: #29661a; */
    color: darkblue;
    background: transparent;
}
h1 { font-size: 150% }
h2 { font-size: 130% }
h3 { font-size: 120% }
h4 { font-size: 110% }
h5 { font-size: 100% }
h6 { font-size: 100%; font-style: italic }

hr {
    padding: 0pt; margin: 0pt;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #7b96ac;
}

p.rectangle {
    background-color: #fff5f5;
    border: 1px solid #d7d7d7;
    padding-left: 10px;
    margin-left:2em;
    width:80%;
    overflow: auto;
}

pre {
    background-color: #fff5f5;
    border: 1px solid #d7d7d7;
    padding-left: 10px;
    margin-left:2em;
    width:80%;
    overflow: auto;
}

input, textarea
{
    background-color: white;
    color: inherit;
    border: 1px solid #7b96ac;
    vertical-align:middle;

}

textarea, input[type="text"], input[type="password"]{
    padding: 3px;
}

input:focus, textarea:focus
{
    border: 1px solid darkred;
}

p.warning {
  color: #ff0000;
}

span.warning {
  font-size: 70%;
  color: #ff0000;
}

pre.warning {
  color: #ff0000;
}


table.user-form th {
  text-align: right;
  padding-right: 5pt;
}


/*
 * Bottom pane
 */
div#bottom-pane
{
    margin-top: 10px;
    text-align: center;
    font-size: 70%;
    color:white;
    background-color: #7b96ac;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

div#bottom-pane p {
    margin:5px 0px;
}


/*
 * Table listing
 */

table.listing a {
    text-decoration:none;
}

table.listing {
 clear: both;
 border-bottom: 1px solid #d7d7d7;
 border-collapse: collapse;
 border-spacing: 0;
 margin-top: 1em;
 width: 100%;
}
table.listing th { text-align: left; padding: 0 1em .1em 0; font-size: 12px }
table.listing thead { background: #f7f7f0 }
table.listing thead th {
 border: 1px solid #d7d7d7;
 border-bottom-color: #999;
 font-size: 11px;
 font-weight: bold;
 padding: 2px .5em;
 vertical-align: bottom;
}
table.listing thead th :link:hover, table.listing thead th :visited:hover {
 background-color: transparent;
}
table.listing thead th a { border: none; padding-right: 12px }
table.listing th.asc a, table.listing th.desc a { font-weight: bold }
table.listing th.asc a, table.listing th.desc a {
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

table.listing tbody td, table.listing tbody th {
 border: 1px dotted #ddd;
 padding: .1em .5em;
 vertical-align: top;
}
table.listing tbody td a:hover, table.listing tbody th a:hover {
 background-color: transparent;
}
table.listing tbody tr { border-top: 1px solid #ddd }
table.listing tbody tr.even { background-color: #fcfcfc }
table.listing tbody tr.odd { background-color: #f7f7f7 }

/*
 * Status
 */

.status-completed {
    background-color:rgb(231,231,231);
}

.status-open {
    background-color:rgb(255, 225, 225);
}

.timeover {
    color: red;
    font-weight: bold;
}

.timeover a{
    color: red!important;
    font-weight: bold;
}

h1.timeover,h2.timeover,h3.timeover,h4.timeover,h5.timeover,h6.timeover {
    color: red!important;
    font-weight: bold;
}

div#header {
    height: 6em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 600;
    width:100%;
    padding-top:5px;
    height:30px;
    background-color: #7b96ac;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#header #header-action {
    display:inline;
/*     text-align:right; */
    position:absolute;
    top:5px;
    right:10px;
}

@media screen
{
    body>#header,
    body>#loading,
    body>#body>#navigation,
    body>#body>#navigation-action,
    body>#body>#search-box
    {
        position: fixed;
    }
}

#body {
    padding:40px 10px 0px 10px;
}

#body h2 {
    /* display:inline; */
    border-left: solid 12px;
    padding: 3px 2px 2px 6px;
    border-bottom: solid 1px;
    margin-top:0px;
    margin-bottom:10px;
}

#header h1 {
    margin-top:10px;
    padding:10px 20px;
    text-align:left;
}

#navigation {
    position:absolute;
    padding:0px;
    top:36px;
    left:0px;
    width:100%;
    background-color: #e8e8e8;
    border: 1px solid #7b96ac;
    padding-left: 10px;
    z-index: 600;
    color:red;
    height:22px;
}

#navigation .label {
    color:black;
}

table#navigation-action {
    position:absolute;
    display:inline;
    top:57px;
    right:30px;
    z-index: 700;
}

#navigation-action td {
    height:20px;
    padding:1px 2px;
    margin-right:10px;
    border:1px solid black;
    background-color:#b0b0b0;
    border-top-color:#7b96ac;;
}

#navigation-action td.current, #navigation-action td.current a {
    color:darkred;
    font-weight:bold;
    border-top-color:#e8e8e8;
    background-color:#e8e8e8;
}

#navigation-action a {
    display:block;
    text-decoration:none;
    color:darkblue;
    font-weight:normal;
}

div#navigation a {
    text-decoration: none;
    color:darkblue;
}

#navigation .current {
    font-weight:bold;
}

.table-filter {
    margin: 0 auto;
}

.title {
    display:inline;
    color:white;
}

.title a {
    color:white;
    text-decoration:none;
}

.searchbox {
    display:inline;
    padding-left:10px;
/*     position:absolute; */
/*     top:5px; */
/*     right:10px; */
}

.clickable
{
    background-color:white;
/*     border: 1px solid #7b96ac; */
    /* border: 1px solid; */
    /* border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; */
    padding:1px 2px;
    line-height:1.5em; /* for ie */
    margin-left:3px;
    cursor: pointer;
    text-decoration:none;
    margin-left:3px;

    border:1px solid black;
    color: black;
    background-color:#e8e8e8;

}

/* #header .clickable{ */
/*         border:1px solid black; */
/*         color: black; */
/* } */


/* .clickable a, a.clickable */
/* { */
/*     text-decoration:none; */
/*     margin-left:3px; */
/*     padding:1px 2px 1px 2px; */
/*     border:1px solid black; */
/*     color: black; */
/*     background-color:#e8e8e8; */
/* } */

.clickable a:hover, a.clickable:hover
{
    /* padding:0px 1px; */
    /* border: 1px solid darkred !important; */
    background-color:white;
}

.menu {
    padding-top:10px;
    padding-left:0px;
}

.menu li{
    display:inline;
}

.menu li a {
    text-decoration:none;
    margin-left:3px;
    padding:1px 2px 1px 2px;
    border:1px solid black;
    color: black;
    background-color:#e8e8e8;
}

#search-box {
    position:absolute;
    top:36px;
    right:10px;
    z-index: 1000;
    height:22px;
}

#musume_list thead {
    cursor: pointer;
    background-color:white;
}

#bookmark-button {
    /* position:absolute; */
/*     right:10px; */
    color:black;
}

/*
 * Table of Calendar
 */
table.task {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 78%;
    margin-bottom: 5px;
    border:1px dotted gray;
}

table.task tr th {
  height: 1em;
}

table.task tr td {
    border:1px dotted lightgray;
    height:14%;
    vertical-align:top;
}

table.task tr td:hover {
    background-color:#e5e5e5;
}

table.task tr td span {
  text-align:left;
  display:block!important;
}

table.task tr td.today{
    background-color: pink;
}

table.task tr td.today span, table.task tr td.today a {
    background-color:transparent;
}

table.task tr td.today:hover {
    background-color: #ffb6c1
}


table.task tr td div a {
  text-align: left;
}

table.calendar a {
    display:block;
    text-decoration:none;
    text-align:center;
    color:black;
    padding:3px;
    }

table.calendar a:hover {
    background-color: white !important;
}

table.calendar {
    border-collapse: collapse;
    border:1px dotted gray;
}

table caption {
    font-weight:bold;
}

table.calendar tr th
{
    text-align: center;
    background-color:lightgray;
    border-bottom: 1px dotted gray;
}

table.calendar tr td{
    text-align: right;
    padding:0px;
    /* border:1px dotted lightgray; */
}

tr.limit-fromto {
    height: 1em;
}

td.other-month a {
  color: gray !important;

}

td.other-month {
    color: gray;
    background-color:white;

}


td.workday a,td.workday span {
    /* background-color: white; */
}

td.saturday a ,td.saturday span, th.saturday {
  color:blue;
}

td.sunday a, td.sunday span, th.sunday {
  color: red;
}

td.compensate a, td.compensate span {
  color: red;
}

td.holy a, td.holy span {
    color: red;
}

td.holiday a, td.holiday span {
    color: red;
}

td.today a, td.today span {
    font-weight: bold;
    background-color:lightgray;
}

td.today.limit a {
    background-color: pink;
    border: 1px solid lightgray;
}

td.limit a {
  font-weight: bold;
  background-color: pink;
}


td.limit.target a {
  font-weight: bold;
  background-color: pink;
}

td.target a {
  font-weight: bold;
  background-color: yellow;
}

td#limit-calendar {
 vertical-align: top;
}

.memo {
    position:absolute;
    /* opacity: .90; */
    margin:0px;
    border: 1px solid black;
    background-color: #f2f2f2;
}

.help {
    position:absolute;
    opacity: .85;
    margin:0px;
    border: 1px solid black;
    background-color: #e8f8e8;
    cursor:help;
}

div.miniwindow {
    /* width:200px; */
    /* max-width: 400px; */
}

div.popupwindow {
    position:absolute;
    border:1px solid black;
    background-color:white;
/*     width:50%; */
/*     height::50%; */

}

div.minititle, div.popuptitle {
    padding:2px;
    background-color:#7b96ac;
    color:white;
    text-align:center;
    font-weight:bold;
    border-bottom:1px solid black;
    padding:0 1em;
    position:relative;
}

div.minititle a, .close-btn {
    text-decoration:none;
    position:absolute;
    right:3px;
    top: 1px;
    color: black;
}

div.memo ul {
    display:block;
    padding:0px 10px;
}


div.memo li {
    /* padding:10px 0px; */
    display:block;
    border-bottom:1px solid lightgray;
}

div.memo li a {
    text-decoration:none;
    display:block;
}

div.memo a:hover {
    background-color: #a6b7d4;
}

div.miniwindow  ul.musumes {
    border: 1px dotted #aacccc;
    margin: 0px 10px;
    max-height: 300px !important;
    overflow: auto;
}

div#loading {
    position:absolute;
    z-index:1000;
    top:36px;
    right:0px;
    padding:0px 3px;
    border: 1px solid #7b96ac;
    color:white;
    /* font-weight:bold; */
    /* background-color: red; */
    background-color: #ff6347;
    /* background-color: darkblue; */
}

div#musume-links {
    display:inline;
}

div#musume-backlinks {
    display:inline;
}

table#links-table {
    border-bottom: 1px solid #d7d7d7;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1em;
}

table#links-table th {
 border: 1px solid #d7d7d7;
 border-bottom-color: #999;
 font-weight: bold;
 padding: 2px .5em;
 vertical-align: bottom;
}

table#links-table td {
 border: 1px dotted #ddd;
 padding: .1em .5em;
 vertical-align: top;
}

#memberlist {
    height:100%;
    width:100px;
}

#allmemberlist {
    height:100px;
    overflow:auto;
    margin:2px 0 0 0;
    padding:0px;
    border: 1px dotted #7b96ac;
}

input#membersearch {
    border: 1px dotted #7b96ac;
}

ul.userlist{
    padding:0px;
    margin:0px;
    border: 1px solid #7b96ac;
    background-color: white;
    height:100px;
}

ul.userlist:hover{
    border: 1px solid darkred;
}

.userlist li {
    display:block;
    border-bottom: 1px solid #d7d7d7;
    margin:0px;
    padding:0px;
    padding-left:3px;
    cursor:move;
}

.userlist li:hover{
    background-color:#7b96ac;
}

#hoverclass{
    background-color:red;
}

#mail_send_setting {
/*     position:absolute; */
    /* width:400px; */
}
#mail_send_setting fieldset {
    background-color: #f2f2f2;
}

#mail_send_setting legend {
    background-color: #f2f2f2;
    border: 1px dotted black;
}

/* user setting */

#main-box div.box, #work-box div.box {
    display:inline;
    margin:5px;
}
#main-box div.box div, #work-box div.box div {
    display:none
}

div#work-box, div#main-box {
    padding:10px;
    border:1px dotted gray;
    width:100%;
}

/* div#main-box { */
/*     position:absolute; */
/*     /\* top:0px; *\/ */
/*     right:0px; */
/*     width:50%; */
/* } */

div#root-box {
    width:200px;
    padding-bottom:5px;
    border:1px dotted gray;
}

div.box {
    padding-top:0px;
    background: lightblue;
/*     height:25; */
    width:200px;
    position:relative;
/*     margin-bottom:5px; */
    cursor:move;
    border:1px solid #7b96ac;
    margin-bottom:1px;
}


div.box2 {
    border:1px dotted lightgray;
    width:200px;
    position:absolute;
    left:200px;
    top:0px;
    padding-bottom:5px;
}


div.box2 div.box {
    background: pink;
}

div.box2 div.box2 div.box {
    background: lightgreen;
}

div.hoverbox2 {
    border:2px solid red;
}

div#group-select-box{
    position:relative;
}

tr#user-tr {
    vertical-align:top;
}

div#group-select {
    border: 1px solid #7b96ac;
    background-color: white;
    height:100px;
    overflow:auto;
    /* position:absolute; */
/*     top:0px; */

/*     height:100px; */
    width:200px;

    /* width:100px; */
}

div.group-item {
    display:block;
    border-bottom: 1px solid #d7d7d7;
    margin:0px;
    padding:0px;
    padding-left:3px;
    cursor:pointer;
}

div.group-item:hover {
    background-color:#7b96ac;
}

.group-edit {
    width: 400px;
    background-color:white;
}

.group-edit td {
    border:1px solid black;
}

ul.nomembers {
    height:200px !important;
    overflow:auto;
}