/* style sheet for kagoiri-musume */
/* $Id: kagoiri-musume.css,v 1.10 2006/01/07 05:06:21 cut-sea Exp $ */

/*
 * Common stuff
 */
body {
  font-family: verdana, arial, helvetica, sans-serif;
  color: black;
  background-color: white;
  padding: 0pt;
  margin: 0pt;
}

h1, h2, h3, h4, h5, h6 {
   text-align: left;
   color: #29661a;
   background: transparent;
}
h1 { font-size: 150% }
h2 { font-size: 130% }
h3 { font-size: 120% }
h4 { font-size: 110% }
h5 { font-size: 100% }
h6 { font-size: 100%; font-style: italic }

hr {
  padding: 0pt; margin: 0pt;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #729669;
}

pre {
  background-color: #ffffee;
  border-color: #bbccbb;
  border-width: 1px;
  border-style: solid;
  overflow: auto;
  padding: 0.5em;
}

p.warning {
  color: #ff0000;
}

span.warning {
  font-size: 70%;
  color: #ff0000;
}

pre.warning {
  color: #ff0000;
}


table.user-form th {
  text-align: right;
  padding-right: 5pt;
}

/*
 * Title pane
 */
div#title-pane {
  text-align: left;
  font-size: 190%;
  color: #ffffff;
  margin: 0pt;
  padding: 10pt 15pt 5pt 10pt;
  background: solid;
  background-color: #49b52f;
}

div#title-pane p {
  margin: 0pt; padding: 0pt;
}

/*
 * Navigation pane
 */
table#navigation-pane {
  width: 100%;
}

td#navigation-pane-left {
  padding-left: 2em;
  text-align: left;
  font-size: 90%;
}

td#navigation-pane-right {
  text-align: right;
  font-size: 90%;
}

/*
 * Body pane
 */
table#body-pane {
  width: 100%;
}

td#main-pane {
  vertical-align:top;
  padding: 0.5em 1em 0.5em 1em;
}

div#edit-menu {
  text-align: right;
  font-size: 90%;
  color: #777777;
}

div#page-footer { 
  text-align: right;
  font-size: 80%;
  color: #777777;
}

td#side-pane {
  vertical-align:top;
  font-size: 90%;
  width:10em;
  border-width: 0px 1px 0px 0px; 
  border-style: solid;
  border-color: #729669;
}

td#side-pane ul { 
  margin: 0pt 5pt 0pt 5pt;
  padding-left: 10pt;
}

td#side-pane > h2 {
  font-size: 100%;
  margin: 0pt 1pt 0pt 1pt;
  padding: 0pt;
  text-align: center;
  background: solid;
  background-color: #aaddbb;
}

td#side-pane p {
  margin: 0pt 0pt 1pt 0pt;
  padding: 1pt;
}

/*
 * Bottom pane
 */
div#bottom-pane {
  text-align: center;
  font-size: 70%;
  color: #999999;
}

div#bottom-pane p {
  padding: 0px;
  margin: 5px;
}

/*
 * Error display
 */
.macro-error {
    background-color: #ee5555;
}

/*
 * Comment
 */
.simplecommentmacro {
  font-size: 80%;
}

.commentform {
  font-size: 80%;
}

.comments {
  font-size: 80%;
}

/*
 * Table listing
 */

table.listing {
 clear: both;
 border-bottom: 1px solid #d7d7d7;
 border-collapse: collapse;
 border-spacing: 0;
 margin-top: 1em;
 width: 100%;
}
table.listing th { text-align: left; padding: 0 1em .1em 0; font-size: 12px }
table.listing thead { background: #f7f7f0 }
table.listing thead th {
 border: 1px solid #d7d7d7;
 border-bottom-color: #999;
 font-size: 11px;
 font-weight: bold;
 padding: 2px .5em;
 vertical-align: bottom;
}
table.listing thead th :link:hover, table.listing thead th :visited:hover {
 background-color: transparent;
}
table.listing thead th a { border: none; padding-right: 12px }
table.listing th.asc a, table.listing th.desc a { font-weight: bold }
table.listing th.asc a, table.listing th.desc a {
 background-position: 100% 50%;
 background-repeat: no-repeat;
}
/* table.listing th.asc a { background-image: url(../asc.png) } */
/* table.listing th.desc a { background-image: url(../desc.png) } */
table.listing tbody td, table.listing tbody th {
 border: 1px dotted #ddd;
 padding: .1em .5em;
 vertical-align: top;
}
table.listing tbody td a:hover, table.listing tbody th a:hover {
 background-color: transparent;
}
table.listing tbody tr { border-top: 1px solid #ddd }
table.listing tbody tr.even { background-color: #fcfcfc }
table.listing tbody tr.odd { background-color: #f7f7f7 }

/*
 * Status
 */

.status-completed {
    background-color:rgb(231,231,231);
}

.status-open {
    background-color:rgb(255, 225, 225);
}

#header {
    position:fixed;
    background-color:white;
    border-bottom:1px dotted gray;
    width:100%;
    padding-top:5px;
    height:30px;
    top:0px
}

#body {
    margin-top:35px;
}

#header h1 {
    margin-top:10px;
    padding:10px 20px;
}

#header a {
    text-decoration:none;
    margin-left:3px;
    padding:1px 2px 1px 2px;
    border:1px solid #e8e8e8;
    color:black;
/*     background-color:#e4ffe4; */
}

#header a:hover {
    border:1px solid black;
}

.table-filter {
    margin: 0 auto;
}

.title {
    display:inline;
}

.searchbox {
    display:inline;
    position:absolute;
    right:10px;
    background-color:white;
}

.clickable
{
    color: inherit;
    background-color: #afafaf;
    border: 1px solid #e8e8e8;
    padding:2px 3px;
    margin:0px;
    cursor: pointer;
    text-decoration:none;
}

a.clickable:hover {
    border:1px solid black;
}

.menu {
    padding-top:10px;
    padding-left:0px;
}

.menu li{
    display:inline;
}

.menu li a{
    text-decoration:none;
    margin-left:3px;
    padding:2px 3px;
    border:1px solid #e8e8e8;
    color:black;
/*     background-color:#f0f9ff; */
}

.menu li a:hover {
    border:1px solid black;
}

#search-box {
/*     margin: 0 auto; */
    position:absolute;
    right:10px;
/*     margin-left: 20px; */
}

#musume_list thead {
    cursor: pointer;
}

#bookmark-button {
    position:absolute;
    right:10px;
}